{% extends 'base.html.twig' %}

{% block body %}
	<h1 class="page-title">Contact Me</h1>
	<article class="post">
		<div class="entry-content clearfix">
			<figure class="img-responsive-center">
				<img class="img-responsive" src="img/me.jpg" alt="Developer Image">
			</figure>
			<p>Feel Free to ping me on:</p>
			<ul class="social">
				<li class="facebook"><a href="#"><span class="ion-social-facebook"></span></a></li>
				<li class="twitter"><a href="#"><span class="ion-social-twitter"></span></a></li>
				<li class="google-plus"><a href="#"><span class="ion-social-googleplus"></span></a></li>
				<li class="tumblr"><a href="#"><span class="ion-ios-email"></span></a></li>
			</ul>
			<div class="height-40px"></div>
			
		</div>
	 </article>
{% endblock %}
					
