{% extends 'base.html.twig' %}

{% block body %}
	<h1 class="page-title">Page 404</h1>
	<article class="post">
		<div class="entry-content clearfix">
			<p> <h3> Sorry, Page: /{{url}} not found! </h3></p>
			<figure class="img-responsive-center">
				<img class="img-responsive" src="/img/page404.jpg" alt="Page 404 Image">
			</figure>
			
			
		</div>
	 </article>
{% endblock %}
					
